ul li .button-navbar {
  margin: 5px;
  border: none;
  border-radius: 3px;
  background-color: none;
  box-decoration-break: none;
}
.navbar-toggler {
  float: right;
  color: #f0e4e4;
  background-color: #d47c8f;
}

.navbar-collapse {
  display: inline-flex;
  justify-content: end;
}
.navbar-nav {
  display: inline-flex;
  justify-content: end;
}
body {
  background-image: url("https://images.pexels.com/photos/3075993/pexels-photo-3075993.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=400&w=1260");
  background-repeat: no-repeat;
  object-fit: cover;
}
.link-4geeks {
  color: #ff9fa8;
}
.button-enter {
  background-color: aquamarine;
  border-color: aquamarine;
  color: green;
}
